main {

  .btn {

    &.already-apply {
      color: #00bfff;
      background: #fff;
    }
  }
}

.campaign-detail-section {
  margin-top: 0;
  padding: 0;

  section {
    margin: 50px 0;
    @media only screen and (min-width: 1025px) {
      max-width: 1000px;
      margin: 50px auto;
    }
  
    .VueCarousel-slide {
      @include carouselLayout;
    }
    
    table {
      @include tableLayout;
  
      thead {
        tr {
  
          th {
            padding: 5px 0;
            font-size: 0.8rem;
            font-weight: normal;
            background: #f7f7f7;
  
            &:nth-child(1) {
              width: 15%;
            }
            &:nth-child(2) {
              width: calc(85% / 2);
            }
            &:nth-child(3) {
              width: calc(85% / 2);
            }
          }
        }
      }
      
      tbody {
        vertical-align: middle;
        
        tr {
          @include trLayout;
  
          &.cast-row {
  
            td {
              padding: none;
              text-align: center;
  
              &:nth-child(1) {
                width: 15%;
              }
  
              &.detail-btn-box {
                display: flex;
                justify-content: center;
                padding: 10px;
              }
  
              .detail-btn {
                width: 30%;
                margin-right: 10px;
                color: #fff;
                font-size: 0.7rem;
                font-weight: bold;
                text-align: center;
                border: 1px solid #808080;
                border-radius: 5px;
                background: #00bfff;
                @media only screen and (min-width: 1025px)  {
                  padding: 4px 0;
                }
              }
  
              .offer {
                margin-right: none;
                color: #ffe4b5;
                background: #ff8c00;
              }
  
              .already-offer {
                margin-right: none;
                color: #00bfff;
                background: #fff;
              }
            }
          }
          
          th {
            @include tbodyThLayout;
          }
      
          td {
            @include tdLayout;
      
            i {
              @include iconLayout;
            }
  
            .cast-img {
              @include imgBoxSpLayout(70%);
              @media only screen and (min-width: 1025px) {
                @include imgBoxPcLayout(40%);
              }
  
              &::before {
                @include imgBoxBeforeLayout;
              }
        
              img {
                @include imgLayout;
              }
            }
          }
        }
      }
    }
  
    .campaign-detail-h3 {
      @include h3Layout;
    }
  
    .campaign-detail {
      @include campaignDescriptionLayout;
    }
  }
}
