main {

  .btn {

    &.already-apply {
      color: #00bfff;
      background: #fff;
    }
  }
}

.campaign-detail-section {
  padding: 0;

  section {
    margin: 50px 0;
    @media only screen and (min-width: 600px) {
      padding: 0 20px;
    }
    @media only screen and (min-width: 1025px) {
      padding: 0 7.5%;
    }
  
    .VueCarousel-slide {
      height: 300px;
      text-align: center;
      box-sizing: border-box;
      @media only screen and (min-width: 1025px) {
        padding: 0 7.5%;
        background: #f7f7f7;
      }
    
      img {
        height: 100%;
      }
    }
    
    table {
      width: 100%;
      max-width: 100%;
      margin-bottom: 20px;
      border-collapse: collapse;
      border-spacing: 0;
  
      thead {
        tr {
  
          th {
            padding: 5px 0;
            font-size: 0.8rem;
            font-weight: normal;
            background: #f7f7f7;
  
            &:nth-child(1) {
              width: 15%;
            }
            &:nth-child(2) {
              width: calc(85% / 2);
            }
            &:nth-child(3) {
              width: calc(85% / 2);
            }
          }
        }
      }
      
      tbody {
        vertical-align: middle;
        
        tr {
          border: 1px solid #d3d3d3;
          border-left: none;
          border-right: none;
  
          &.cast-row {
  
            td {
              padding: none;
              text-align: center;
  
              &:nth-child(1) {
                width: 10%;
              }
  
              &.detail-btn-box {
                display: flex;
                justify-content: center;
                padding: 10px;
              }
  
              .detail-btn {
                width: 30%;
                margin-right: 10px;
                color: #fff;
                font-size: 0.7rem;
                font-weight: bold;
                text-align: center;
                border: 1px solid #808080;
                border-radius: 5px;
                background: #00bfff;
                @media only screen and (min-width: 1025px)  {
                  padding: 4px 0;
                }
              }
  
              .offer {
                margin-right: none;
                color: #ffe4b5;
                background: #ff8c00;
              }
  
              .already-offer {
                margin-right: none;
                color: #00bfff;
                background: #fff;
              }
            }
          }
          
          th {
            width: 70px;
            padding: 5px 8px;
            font-size: 0.7rem;
            font-weight: normal;
            background: #f7f7f7;
            @media only screen and (min-width: 600px) {
              width: 80px;
              padding: 5px 12px;
              font-size: 0.7rem;
              font-weight: normal;
              background: #f7f7f7;
            }
            @media only screen and (min-width: 1025px) {
              width: 100px;
              padding: 8px 16px;
              font-size: 0.8rem;
              font-weight: normal;
              background: #f7f7f7;
            }
          }
      
          td {
            padding: 2px 8px;
            font-size: 0.7rem;
            @media only screen and (min-width: 600px) {
              padding: 5px 10px;
              font-size: 0.7rem;
            }
            @media only screen and (min-width: 1025px) {
              font-size: 0.9rem;
            }
      
            i {
              font-size: 1.1rem;
              color: #ff8c00;
              @media only screen and (min-width: 600px) {
                font-size: 1.2rem;
              }
              @media only screen and (min-width: 1025px) {
                font-size: 1.3rem;
              }
            }
  
            .cast-img {
              position: relative;
              width: 70%;
              height: 70%;
              min-width: 70%;
              min-height: 70%;
              margin-right: 10px;
              padding: 0;
              @media only screen and (min-width: 1025px)  {
                width: 40%;
                height: 40%;
                min-width: 40%;
                min-height: 40%;
              }
  
              &::before {
                content: "";
                display: block;
                padding-top: 100%;
              }
        
              img {
                position: absolute;
                width: 100%;
                height: 100%; 
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                margin: auto;
                object-fit: cover;
                border: 1px solid #2c3e50;
                border-radius: 50%;
              }
            }
          }
        }
        
      }
    }
  
    .campaign-detail-h3 {
      margin: 50px 0 30px;
      text-align: left;
      font-size: 0.9rem;
    }
  
    .campaign-detail {
      font-size: 0.8rem;
      white-space: pre-wrap;
    }
  }
}
