.campaign-limit {
  @media only screen and (min-width: 1025px) {
    @include listLayout(0);
  }
  
  & > div + div {
    border-top: 1px solid #c0c0c0;
  }

  .campaign-box {
    @include boxLayout;

    .campaign-link-box {
      display: flex;
      @media only screen and (min-width: 1025px) {
        display: block;
      }

      .img-box {
        @include imgBoxSpLayout(20%);
        @media only screen and (min-width: 1025px) {
          @include imgBoxPcLayout(60%);
          margin: 30px auto;
        }

        &::before {
          content: "";
          @include imgBoxBeforeLayout;
        }

        img {
          @include imgLayout;
        }
      }

      .campaign-info {
        @include listBoxLayout;

        .campaign-title {
          @include listBoxTitleLayout;
        }
        
        .campaign-description {
          @include listBoxDescriptionLayout;
        }
        
        .campaign-under-box {
          @include listBoxUnderLayout;

          .sns-icon {

            span {

              i {
                @include iconLayout;
              }

              &.active > i {
                color: #0000ff;
              }
            }
          }

          .campaign-price {
            @include listBoxPriceLayout;
          }
        }
      }
    }
  }
}
