.campaign-confirm-section {
  margin: 0;
  padding: 0;
}

section {
  margin: 50px 0;
  padding: 0 5px;

  .VueCarousel-slide {
    @include carouselLayout;
  }
  
  table {
    @include tableLayout;
    
    tbody {
      vertical-align: middle;
      
      tr {
        @include trLayout;
        
        th {
          @include tbodyThLayout;
        }
    
        td {
          @include tdLayout;
    
          i {
            @include iconLayout;
          }
        }
      }
    }
  }

  .campaign-confirm-h3 {
    @include h3Layout;
  }

  .campaign-confirm-description {
    @include campaignDescriptionLayout;
  }
}