.campaign-section {
  margin: 0;
  padding: 0;

  .btn {
    @media only screen and (min-width: 1025px) {
      margin-top: 50px;
    }
  }
  
  .campaign {
    padding: 0;
  
    .paginate {
      @media only screen and (min-width: 1025px) {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        max-width: 1000px;
        margin: 0 auto;
      }
  
      & > div + div {
        border-top: 1px solid #c0c0c0;
      }
  
      .campaign-box {
        padding: 7px 0;
        @media only screen and (min-width: 600px) {
          padding: 20px 0;
        }
        @media only screen and (min-width: 1025px) {
          width: calc(30% - 5px);
          margin: 0;
          margin: 50px calc(10% / 6) 20px;
          padding: 0;
          border: 1px solid #c0c0c0;
          border-radius: 10px 10px 0 0;
          box-shadow: 5px 5px 10px #d3d3d3;
        }
  
        .campaign-link-box {
          display: flex;
          @media only screen and (min-width: 1025px) {
            display: block;
          }
  
          .img-box {
            position: relative;
            width: 20%;
            height: 20%;
            min-width: 20%;
            min-height: 20%;
            margin-right: 10px;
            @media only screen and (min-width: 1025px) {
              width: 60%;
              height: 60%;
              min-width: 60%;
              min-height: 60%;
              margin: 30px auto;
            }
  
            &::before {
              content: "";
              display: block;
              padding-top: 100%;
            }
  
            img {
              position: absolute;
              width: 100%;
              height: 100%;
              top: 0;
              right: 0;
              bottom: 0;
              left: 0;
              margin: auto;
              object-fit: cover;
              border: 1px solid #2c3e50;
              border-radius: 50%;
            }
          }
  
          .campaign-info {
            width: 75%;
            display: flex;
            flex-flow: column;
            justify-content: space-between;
            padding: 3px 0;
            @media only screen and (min-width: 1025px) {
              width: 100%;
              padding: 20px 10px;
              background: #ffe4b5;
              text-align: center;
            }
  
            .campaign-title {
              margin: 0;
              color: #696969;
              font-size: 0.8rem;
              font-weight: bold;
              text-align: left;
              border: none;
              @media only screen and (min-width: 600px) {
                font-size: 1.1rem;
              }
              @media only screen and (min-width: 1025px) {
                font-size: 1rem;
                margin-bottom: 8px;
                text-align: center;
              }
            }
  
            .campaign-description {
              font-size: 0.6rem;
              color: #a9a9a9;
              @media only screen and (min-width: 600px) {
                font-size: 0.9rem;
                margin-bottom: 8px;
              }
              @media only screen and (min-width: 1025px) {
                font-size: 0.8rem;
                margin-bottom: 8px;
              }
            }
  
            .campaign-under-box {
              display: flex;
              justify-content: space-between;
              @media only screen and (min-width: 1025px) {
                display: block;
              }
  
              .sns-icon {
  
                span {
  
                  i {
                    font-size: 0.9rem;
                    color: #808080;
                    margin: 7px 3px 0 0;
                    @media only screen and (min-width: 600px) {
                    font-size: 1.2rem;
                    margin: 0 10px 0 0;
                    }
                    @media only screen and (min-width: 1025px) {
                      font-size: 1rem;
                      margin: 0 8px 0 0;
                    }
                  }
                  &.active {
  
                    i {
                      color: #0000ff;
                    }
                  }
                }
              }
  
              .campaign-price {
                font-size: 0.8rem;
                font-weight: bold;
                color: #696969;
                @media only screen and (min-width: 600px) {
                  font-size: 1.3rem;
                }
                @media only screen and (min-width: 1025px) {
                  font-size: 1.2rem;
                  font-weight: bold;
                  color: #696969;
                }
              }
            }
          }
        }
      }
    }
  }
}
