.campaign-input {
  margin: 50px 0 0;
  @media only screen and (min-width: 1025px) {
    margin: 50px 7.5% 0;
    padding: 0 20px;
  }

  .form-input {
    display: flex;
    flex-direction: column;

    & + .form-input {
      margin-top: 30px;
    }

    .required {
      background: #ff0000;
      padding: 0 5px;
      border-radius: 3px;
      font-weight: bold;
      color: #fff;
      margin: 0 10px 0 0;
      display: inline-block;
    }

    input {
      margin-top: 10px;
      padding: 5px 6px;
      border: 1px solid #696969;
      border-radius: 3px;
  
      &:focus {
        background: #f5deb3;
      }
    }
  
    textarea {
      margin-top: 10px;
      padding: 5px 6px;
      border: 1px solid #696969;
      border-radius: 3px;
      overflow: auto;
  
      &:focus {
        background: #f5deb3;
      }
    }
  }

  .sns {
    display: flex;
    justify-content: space-between;
    margin: 30px 15px;
    @media only screen and (min-width: 600px) {
      margin: 30px 20px;
    }

    input[type=checkbox] {
      transform: scale(1.5);
      margin-right: 10px;
    }

    & > input + input {
      margin-left: 30px;
    }

    i {
      position: relative;
      top: 2px;
      font-size: 1.5rem;
      color: #ff8c00;
    }
  }

  .select-img {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
    .check-img {
      width: 20%;
      margin: 30px 20px 0 0;
      text-align: center;
  
      img {
        width: 100%;
      }
    }
  }

  .missed {
    text-align: center;
    color: #ff0000;
  }
}