.cast-detail-section {
  margin: 0;
  padding: 0;

  .cast-basic-data {
    @include basicDataLayout;

    .img-box {
      @include imgBoxSpLayout(50%);
      @media only screen and (min-width: 1025px) {
        @include imgBoxPcLayout(300px);
        margin-right: 50px;
      }
  
      &::before {
        @include imgBoxBeforeLayout;
      }
  
      img {
        @include imgLayout;
      }
  
    }
    
    .cast-basic-data-section {
      @media only screen and (min-width: 1025px) {
        width: 70%;
        margin: 0;
        padding: 0;
      }

      h3 {
        margin: 0;
        margin-bottom: 30px;
        text-align: left;
      }

      table {
        @include tableLayout;
        
        tr {
          @include trLayout;
      
          th {
            @include tbodyThLayout;
          }
          
          td {
            @include tdLayout;
          }
        }
      }
    }
  }
}

.pr-section {
  @include prSectionLayout;
  
  .pr-data-inner {
    @include prDataLayout;

    .pr-title {
      @include prTitleLayout;
    }
    
    .pr-value {
      @include prValueLayout;
    }
  }
}

.sns-section {
  @include snsSectionLayout;
  
  .tab {
    @include tabLayout;
  }
  
  .sns-info {
    @include snsInfoLayout;
    padding: 10px 5px 0 10px;
  }
}