.cast-signup-box {
  @include loginSignupBoxLayout('../image/cast_signup.jpg');

  .cast-signup-img {
    @include loginSignupImgBoxLayout;

    img {
      @include loginSignupImgLayout;
    }
  }

  .cast-signup-input-form {
    @include loginSignupFormLayout;

    .site-logo {
      @include loginSignupLogoLayout;
    }

    .input-title-h2 {
      @include loginSignupH2Layout;
    }

    .cast-input-form {
      @include loginSignupInputLayout;
      @include loginSignupTermLayout;
    }

  }

  .term-link {
    @include loginSignupTermLinkLayout;
  }
  
  .btn {
    @include btnLayout;
  }
}