.client-section {
  margin: 0;
  padding: 0;
  
  .paginate {
    margin: 50px 0;
    @media only screen and (min-width: 1025px)  {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      max-width: 1000px;
      margin: 50px auto;
    }

    & > div + div {
      border-top: 1px solid #c0c0c0;
    }

    .client-box {
      padding: 7px 0;
      @media only screen and (min-width: 600px) {
        padding: 20px 0;
      }
      @media only screen and (min-width: 1025px)  {
        width: calc(30% - 5px);
        margin: 0;
        margin: 50px calc(10% / 6) 20px;
        padding: 0;
        border: 1px solid #c0c0c0;
        border-radius: 10px 10px 0 0;
        box-shadow: 5px 5px 10px #d3d3d3;
      }

      .client-link-box {
        display: flex;
        @media only screen and (min-width: 1025px)  {
          display: block;
        }

        .img-box {
          position: relative;
          width: 20%;
          height: 20%;
          min-width: 20%;
          min-height: 20%;
          margin-right: 10px;
          @media only screen and (min-width: 1025px)  {
            width: 60%;
            height: 60%;
            min-width: 60%;
            min-height: 60%;
            margin: 30px auto;
          }

          &::before {
            content: "";
            display: block;
            padding-top: 100%;
          }

          img {
            position: absolute;
            width: 100%;
            height: 100%; 
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            margin: auto;
            object-fit: cover;
            border: 1px solid #2c3e50;
            border-radius: 50%;
          }
        }

        .client-info {
          width: 75%;
          display: flex;
          flex-flow: column;
          justify-content: space-between;
          padding: 3px 0;
          @media only screen and (min-width: 1025px)  {
            width: 100%;
            padding: 20px 0;
            background: #ffe4b5;
            text-align: center;
          }

          .client-name-info {
            display: flex;
            justify-content: space-between;
            @media only screen and (min-width: 1025px)  {
              display: block;
            }

            .client-name {
              margin: 0;
              color: #696969;
              font-size: 0.8rem;
              font-weight: bold;
              text-align: left;
              border: none;
              @media only screen and (min-width: 600px) {
                font-size: 1.1rem;
              }
              @media only screen and (min-width: 1025px) {
                font-size: 1rem;
                margin-bottom: 8px;
                text-align: center;
              }
            }
            
            .client-staff {
              font-size: 0.8rem;

              .title {
                font-size: 0.7rem;
              }
            }
          }

          .category {
            display: flex;
            justify-content: flex-end;

            p {
              background: #ff8c00;
              margin-right: 3px;
              border-radius: 2px;
              font-size: 0.7rem;
              padding: 2px 2px;
              color: #ffe4b5;
            }
          }

          .inquiry {
            display: flex;
            justify-content: space-between;
            @media only screen and (min-width: 1025px)  {
              display: block;
              margin-top: 10px;
            }

            .email {
              font-size: 0.9rem;
            }
            
            .tell {
              font-size: 0.9rem;
            }
          }
        }
      }
    }
  }
}