header {
  display: flex;
  justify-content: space-between;
  background: #333;
  @media only screen and (min-width: 1025px) {
    display: block;
    text-align: right;
  }

  .site-logo-img {
    @media only screen and (min-width: 1025px) {
      display: none;
    }

    img {
      width: 30px;
      height: 30px;
      margin: 5px 10px 5px 10px;
      vertical-align: bottom;
      border-radius: 50%;
      cursor: pointer;
      @media only screen and (min-width: 1025px) {
        display: none;
      }
    }
  }

  .header-right-box {
    display: flex;
    justify-content: flex-end;

    .header-notification-box {
      position: relative;
      width: 30px;
      height: 30px;
      margin: 5px 15px;
      text-align: center;
      @media only screen and (min-width: 1025px) {
        margin: 5px 0;
      }
  
      i {
        color: #fff;
        font-size: 1.6rem;
        line-height: 30px;
      }
  
      .header-notification-circle {
        position: absolute;
        top: 0;
        right: 0;
        width: 15px;
        height: 15px;
        background: #ff8c00;
        border-radius: 50%;
      }
    }
  
  
    img {
      width: 30px;
      height: 30px;
      margin: 5px 10px 5px 10px;
      vertical-align: bottom;
      border-radius: 50%;
      cursor: pointer;
    }
  }


  .header-account-menu-active {
    display: none;
  }

  .header-account-menu {
    position: absolute;
    top: 45px;
    right: 10px;
    line-height: 1.8rem;
    text-align: center;
    border: 1px solid #333;
    border-radius: 5px;
    background: #333;

    li {
      padding: 5px 10px;
      color: #fff;
      cursor: pointer;

      & + li {
        border-top: 1px solid #fff;
      }

      &:hover {
        background: #666;
      }

      a {
        color: #fff;
      }
    }
  }
}