.login-box {
  @include loginSignupBoxLayout('../image/login_image.jpg');

  .login-img {
    @include loginSignupImgBoxLayout;

    img {
      @include loginSignupImgLayout;
    }
  }

  .login-form {
    @include loginSignupFormLayout;

    .site-logo {
      @include loginSignupLogoLayout;
    }

    .input-title-h2 {
      @include loginSignupH2Layout;
    }

    .login-input-form {
      @include loginSignupInputLayout;
    }

    .btn {
      @include btnLayout;
    }

    .input-title-h3 {

      h3 {
        padding: 10px 10px;
        border-bottom: 2px solid #ffe4b5;
      }
    }

    .signup-btn {
      display: flex;
      justify-content: space-between;
      margin-bottom: 20px;

      .client-signup,
      .cast-signup {
        height: 40px;
        margin: 0;
        margin: 20px 20px 0 20px;
        color: #fff;
        background: #00bfff;

        &:hover {
          background: #fff;
          color: #ff8c00;
        }
      }
    }

    p {
      font-size: 0.8rem;
      color: #a9a9a9;
    }
  }
}