.mypage-section {
  margin: 0;
  padding: 0;
  
  .mypage-basic-data {
    margin: 50px 0;
    padding: 0;
    @media only screen and (min-width: 1025px) {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 50px 7.5%;
    }
  
    .img-box {
      position: relative;
      width: 50%;
      height: 50%;
      min-width: 50%;
      min-height: 50%;
      margin: 0 auto;
      @media only screen and (min-width: 1025px) {
        width: 30%;
        height: 30%;
        min-width: 30%;
        min-height: 30%;
        margin-right: 30px;
      }
  
      &::before {
        content: "";
        display: block;
        padding-top: 100%;
      }
  
      img {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        object-fit: cover;
        border: 1px solid #2c3e50;
        border-radius: 50%;
      }
  
    }
    
    .mypage-basic-data-section {
      @media only screen and (min-width: 1025px) {
        width: 70%;
        margin: 0;
        padding: 0;
      }

      h3 {
        margin: 0;
        margin-bottom: 30px;
        text-align: left;
      }

      table {
        width: 100%;
        max-width: 100%;
        border-collapse: collapse;
        border-spacing: 0;
        
        tr {
          width: 100%;
          border: 1px solid #d3d3d3;
          border-left: none;
          border-right: none;
      
          th {
            width: 20%;
            padding: 5px 8px;
            font-size: 0.7rem;
            font-weight: normal;
            background: #f7f7f7;
            @media only screen and (min-width: 600px) {
              width: 80px;
              padding: 5px 12px;
              font-size: 0.7rem;
              font-weight: normal;
              background: #f7f7f7;
            }
            @media only screen and (min-width: 1025px) {
              width: 20%;
              padding: 8px 16px;
              font-size: 0.8rem;
              font-weight: normal;
              background: #f7f7f7;
            }
          }
          
          td {
            width: 80%;
            padding: 2px 8px;
            font-size: 0.7rem;
            white-space: pre-wrap;
            @media only screen and (min-width: 600px) {
              padding: 5px 10px;
              font-size: 0.7rem;
            }
            @media only screen and (min-width: 1025px) {
              font-size: 0.9rem;
            }
          }
        }
      }
    }
  }
  
  .sub-data {
    margin: 50px 0;
    @media only screen and (min-width: 1025px) {
      margin: 50px 7.5%;
    }
  
    li {
      &.title {
        padding: 5px 0;
        background: #d3d3d3;
        text-align: center;
      }
  
      &.value {
        font-size: 0.9rem;
        padding: 10px 0;
        background: #fffaf0;
        text-align: center;
      }
    }
  }
  
  .tab {
    display: flex;
    margin: 50px 0 0;
  
    div {
      width: 25%;
      padding: 7px 0;
      border: 1px solid #808080;
      border-bottom: none;
      border-radius: 5px 5px 0 0;
      text-align: center;
      font-size: 0.8rem;
      cursor: pointer;
    }

    & > div + div {
      border-left: none;
    }
  }
  
  .sns-info {
    border: 1px solid #808080;
  }
  
  .payment-data {
    margin: 50px 0 0;
    
  
    li {
      &.title {
        padding: 5px 0;
        background: #d3d3d3;
        text-align: center;
      }
  
      &.value {
        font-size: 1.5rem;
        padding: 10px 0;
        background: #fffaf0;
        text-align: center;
      }
    }
  }
  
  .bank-data {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 50px 0 0;    
  
    li {
      .title {
        padding: 5px 0;
        background: #d3d3d3;
        text-align: center;
      }
  
      .value {
        padding: 10px 0;
        font-size: 0.9rem;
        background: #fffaf0;
        text-align: center;
        color: #2c3e50;
      }
  
      &:nth-child(1),
      &:nth-child(2) {
        width: 50%;
      }
  
      &:nth-child(3) {
        width: 100%;
      }
  
    }
  }
  
  .caution {
    margin: 10px 0 30px;
    font-size: 0.8rem;
    font-weight: bold;
    color: #ff0000;
    text-align: right;
  }
}
