.mypage-edit-section {
  margin: 0;
  padding: 0;
  
  .profile-input-form {
    @media only screen and (min-width: 1025px) {
      margin: 30px 0;
    }
  
    .basic-data {
      margin: 50px auto;
      @media only screen and (min-width: 1025px) {
        display: flex;
        justify-content: space-between;
        max-width: 1000px;
      }
      
      .img-box {
        @include imgBoxSpLayout(50%);
        @media only screen and (min-width: 1025px) {
          @include imgBoxPcLayout(300px);
          margin-right: 50px;
        }
    
        &::before {
          content: "";
          @include imgBoxBeforeLayout;
        }
    
        img {
          @include imgLayout;
        }
      }
  
      .profile-block {
        margin-top: 50px;
        @media only screen and (min-width: 1025px) {
          flex: 1;
          margin-top: 0;
        }
  
  
        .form-input {
          display: flex;
          flex-direction: column;
          margin-top: 30px;
          @media only screen and (min-width: 1025px) {
            margin-top: 10px;
          }

          label {
            width: 100%;
            @media only screen and (min-width: 1025px) {
              font-size: 0.8rem;
            }
          }
  
          .required,
          .free {
            @include requiredLayout;
          }
  
          .free {
            background: #00bfff;
          }
  
          input {
            @include inputLayout;
          }
        }
      }
    }
  
    .adress-block {
      display: flex;
      flex-direction: column;
      @media only screen and (min-width: 1025px) {
        flex-direction: row;
        justify-content: space-between;
        max-width: 1000px;
        margin: 50px auto;
      }
  
      .form-input {
        display: flex;
        flex-direction: column;
        margin-top: 30px;
        width: 100%;
        @media only screen and (min-width: 1025px) {
          width: 30%;
          margin-top: 10px;
        }

        label {
          font-size: 0.8rem;
        }
  
        .free {
          @include requiredLayout(#00bfff);
        }
  
        select {
          margin-top: 10px;
          padding: 4px 0;
          border: 1px solid #696969;
          border-radius: 3px;
        }
  
        input {
          @include inputLayout;
        }
      }
    }
  }
  
  .bank-input-form {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    @media only screen and (min-width: 1025px) {
      flex-direction: row;
      justify-content: space-between;
      max-width: 1000px;
      margin: 30px auto;
    }

    & > div + div {
      margin-top: 30px;
    }
  
    .form-input {
      display: flex;
      flex-direction: column;
      width: 100%;
      @media only screen and (min-width: 1025px) {
        margin-top: 10px;
        width: 30%;
      }
  
      .free {
        @include requiredLayout(#00bfff);
      }
  
      input {
        margin-top: 10px;
        padding: 5px 6px;
        font-size: 16px;
        border: 1px solid #696969;
        border-radius: 3px;
  
        &:focus {
          background: #f5deb3;
        }
      }
    }
  }

  .tab {
    @include tabLayout;
  }

  .sns-info {
    @include snsInfoLayout;
    padding: 10px 10px 5px;
}
}
