.notification-detail-section {
  margin: 0;
  padding: 0;

  .notification-detail {
    margin: 50px 0 0;
    @media only screen and (min-width: 600px) {
      margin: 50px 0 0;
    }
    @media only screen and (min-width: 1025px) {
      max-width: 1000px;
      margin: 50px auto 0;
    }

    .notification-detail-table {
      @include tableLayout;
      
      tr {
        @include trLayout;
    
        th {
          @include tbodyThLayout;
        }
        
        td {
          @include tdLayout;
          white-space: pre-wrap;
        }
      }
    }
  }

}














