.notification-confirm-section {
  margin: 0;
  padding: 0;

  .notification-confirm {
    margin: 50px 0 0;
    @media only screen and (min-width: 1025px) {
      margin: 50px 7.5% 0;
    }

    .notification-confirm-table {
      @include tableLayout;
    
      tr {
        @include trLayout;
    
        th {
          @include tbodyThLayout;
        }
        
        td {
          @include tdLayout;
          white-space: pre-wrap;
        }
      }
    
    
    }
  }

}














