

.notification-create-section {
  margin: 0;
  padding: 0;

  .notification-input-form {
    margin: 50px 0 0;
    @media only screen and (min-width: 1025px)  {
      margin: 50px 7.5% 0;
    }

    & > div + div {
      margin-top: 30px;
    }

    .form-input {
      display: flex;
      flex-direction: column;

      .required {
        @include requiredLayout;
      }

      input {
        @include inputLayout;
      }

      textarea {
        @include inputLayout;
        overflow: auto;
      }
    }

    .form-switch {
      display: flex;
      justify-content: center;

      .left-switch,
      .right-switch {
        width: 50%;
        padding: 7px 0;
        text-align: center;
        background: linear-gradient(#dcdcdc, #f5f5f5);
        border: 1px solid #d3d3d3;
        border-radius: 5px 0 0 5px;
      }

      .right-switch {
        border-radius: 0 5px 5px 0;
      }

      .active {
        background: #0000ff;

        p {
          color: #fff;
        }
      }
    }
  }
}