.notification-detail-section {
  margin: 0;
  padding: 0;

  .notification-detail {
    margin: 50px 0 0;
    @media only screen and (min-width: 600px) {
      margin: 50px 0 0;
    }
    @media only screen and (min-width: 1025px) {
      max-width: 1000px;
      margin: 50px auto 0;
    }

    .notification-detail-table {
      width: 100%;
      max-width: 100%;
      border-collapse: collapse;
      border-spacing: 0;
      
      tr {
        width: 100%;
        border: 1px solid #d3d3d3;
        border-left: none;
        border-right: none;
    
        th {
          width: 20%;
          padding: 5px 8px;
          font-size: 0.7rem;
          font-weight: normal;
          background: #f7f7f7;
          @media only screen and (min-width: 600px) {
            width: 80px;
            padding: 5px 12px;
            font-size: 0.7rem;
            font-weight: normal;
            background: #f7f7f7;
          }
          @media only screen and (min-width: 1025px) {
            width: 20%;
            padding: 8px 16px;
            font-size: 0.8rem;
            font-weight: normal;
            background: #f7f7f7;
          }
        }
        
        td {
          width: 80%;
          padding: 2px 8px;
          font-size: 0.7rem;
          white-space: pre-wrap;
          @media only screen and (min-width: 600px) {
            padding: 5px 10px;
            font-size: 0.7rem;
          }
          @media only screen and (min-width: 1025px) {
            font-size: 0.9rem;
          }
        }
      }
    }
  }

}














