.select-usage-month {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 50px 0 0;
  padding: 0 15px;
  @media only screen and (min-width: 1025px)  {
    margin: 50px 30px 0;
    padding: 0;
  }

  .select-month {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
  
    .left-arrow {
      position: relative;
      width: 150px;
      height: 50px;
      color: #fff;
      text-align: center;
      line-height: 50px;
      background: #0000ff;
      cursor: pointer;
  
      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: -12.5px;
        width: 25px;
        height: 25px;
        background: #fff;
        transform: skew(-45deg);
      }
  
      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: -12.5px;
        width: 25px;
        height: 25px;
        background: #fff;
        transform: skew(45deg);
      }
  
      p {
        margin: 0;
        margin-left: 12.5px
      }
    }
  
    .sqare {
      width: 150px;
      height: 48px;
      color: #000;
      text-align: center;
      line-height: 50px;
      background: #fff;
      border: 1px solid #d3d3d3;
      cursor: pointer;
      // user-select: none;
      
      p {
        margin: 0;
      }
    }
  
    .right-arrow {
      position: relative;
      width: 150px;
      height: 50px;
      color: #fff;
      text-align: center;
      line-height: 50px;
      background: #0000ff;
      cursor: pointer;
      
      &::before {
        content: "";
        position: absolute;
        top: 0;
        right: -12.5px;
        width: 25px;
        height: 25px;
        background: #fff;
        transform: skew(45deg);
      }
  
      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        right: -12.5px;
        width: 25px;
        height: 25px;
        background: #fff;
        transform: skew(-45deg);
      }
  
      p {
        margin: 0;
        margin-right: 12.5px
      }
    }
  }

  .usage-period {
    display: flex;
    justify-content: center;
    font-size: 0.8rem;
    @media only screen and (min-width: 1025px)  {
      font-size: 1rem;
    }

    p{

      &:nth-child(1) {
        margin-right: 10px;
        font-weight: bold;
      }
    }
  }
}

.btn {
  width: 150px;
  margin: 30px auto 50px;
  padding: 8px 0;
  text-align: center;
  background: #ff8c00;
  border: 1px solid #808080;
  border-radius: 5px;
  color: #ffe4b5;

  &:hover {
    background: #000;
    color: #ff8c00;
  }
}

