.payment-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  @media only screen and (min-width: 1025px)  {
    margin: 0 7.5%;
  }

  .payment-flex-item {
    height: 50px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #c0c0c0;
    border-bottom: none;

    &:nth-child(1) {
      width: 15%;
    }

    &:nth-child(2) {
      width: 60%;
      border-left: none;
    }

    &:nth-child(3) {
      width: 25%;
      border-left: none;
    }
  }

  &:last-child {
    border-bottom: 1px solid #c0c0c0;
  }
}