.total {
  width: 100%;
  margin: 30px 0;
  padding: 20px 10px;
  border: 1px solid #d3d3d3;
  box-sizing: border-box;

  .tax {
    text-align: right;
  }

  .payment-detail {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .text {
      text-align: center;

      p {

        &:nth-child(1) {
          font-weight: bold;
        }

        &:nth-child(2) {
          padding: 5px 8px;
          background: #a9a9a9;
          color: #fff;
        }
      }
    }

    .payment {

      .large-text {
        font-size: 2rem;
      }
    }
  }

  .dead-line {
    text-align: right;
    color: #ff0000;
    font-size: 0.8rem;
    font-weight: bold;
  }
}

.detail {
  margin: 30px 0;
  border: 1px solid #d3d3d3;

  .detail-title {
    width: 100%;
    margin: 0;
    padding: 10px 0;
    color: #fff;
    text-align: center;
    background: #a9a9a9;
  }

  .break-down {
    padding: 20px 10px;

    & > div {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 10px;
      font-size: 1.2rem;
    }

    ul {

      &:nth-child(2) {
        margin-bottom: 30px;
      }
  
      li {
        display: flex;
        align-items: center;
        border-top: 1px solid #a9a9a9;
        
        .title {
          width: 30%;
          padding: 8px 0;
          text-align: center;
          font-size: 0.8rem;
          background: #d3d3d3;
          @media only screen and (min-width: 1025px)  {
            width: 20%;
          }
        }
  
        .value {
          width: 80%;
          text-align: right;
        }

        &:last-child {
          border-bottom: 1px solid #a9a9a9;
        }
      }
    }

    .small-text {
      font-size: 0.6rem;
    }
  }
}