.transaction-section {
  @media only screen and (min-width: 1025px) {
    max-width: 1000px;
    margin: 50px auto;
  }

  .transaction-data {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 50px 0 0;
  
    li {
      width: 45%;
      margin-bottom: 30px;
      box-shadow: 5px 5px 10px #d3d3d3;
      @media only screen and (min-width: 1025px)  {
        width: 23%;
      }
  
      .title {
        padding: 5px 0;
        background: #d3d3d3;
        text-align: center;
        @media only screen and (min-width: 1025px)  {
          font-size: 1.2rem;
        }
      }
  
      .value {
        padding: 10px 0;
        font-size: 2rem;
        background: #fffaf0;
        text-align: center;
        color: #ff8c00;
        @media only screen and (min-width: 1025px)  {
          padding: 10px 0;
          font-size: 3rem;
          background: #fffaf0;
          text-align: center;
          color: #ff8c00;
        }
      }
    }
  }
}


.caution {
  @include cautionLayout;
}